@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;400;600&display=swap");

/* global variables + pseudo*/
:root {
  --salmon: #ffa595;
}

/* Navbar and home section styling  */
* {
  font-family: "Catamaran", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

/* pseudo-element for____ */
*::selection {
  background: var(--salmon);
  color: #333;
}

html {
  font-size: 62%;
  overflow-x: hidden;
}

/* scrollbar BUT compatibility issues with IE + FireFox? */
html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #222;
}

html::-webkit-scrollbar-thumb {
  background: var(--salmon);
}

/* site's body  */
body {
  background: #262f40;
  overflow-x: hidden;
  padding-left: 35rem;
}

/*header */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  /* background: #888; */
  /* background: #262f40; */
  /* background: #ffe9dc; */
  /* background: #ffa595; */

  /* background: #f67280; */
  background: #fff4e6;
  /* background: #fff; */
  /* background: rgb(133, 133, 133); */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

/* image - minor padding issue */
header .me img {
  height: 17.5rem;
  width: 17.5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.5rem;
  /* border: 0.6rem solid var(--salmon); */
  padding: none;
}

header .me .name {
  font-size: 3.5rem;
  color: #262f40;
}

header .me .title {
  font-size: 2rem;
  color: #435371;
}

/* Navbar styling + links */
header .navbar {
  width: 100%;
}

header .navbar ul {
  padding: 7rem;
  padding-top: 1rem;
  list-style: none;
}

header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  /* background: #333; */
  /* color: #fff4e6; */
  font-size: 1.7rem;
  border-radius: 10rem;
  transition: 0.6s;

  /* background: #333; */
  /* color: var(--salmon); */
  color: #f67280;
  /* color: var(--salmon); */
  font-weight: bold;
  /* color: #355c7d; */
}

/* hover effects for buttons/links */
header .navbar ul li a:hover {
  background: var(--salmon);
  /* background: #dae8ec; */
  color: #111;
  font-weight: bolder;
}

/* hamburger menu - issues with the three */
.menu-btn {
  /* position: relative; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 1;

  /* codeStack's menu = doesn't come up */
  /* position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 1; */
}

/* targeting menu-button lines  */
.menu-btn_lines,
.menu-btn_lines::before,
.menu-btn_lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background-color: #eeee;
  transition: all 0.5s ease-in-out;
}

/* targeting before & after  */
.menu-btn_lines::before,
.menu-btn_lines::after {
  content: "";
  position: absolute;
}

.menu-btn_lines::before {
  transform: translateY (-0.5rem);
}

.menu-btn_lines::after {
  transform: translateY (0.5rem);
}

/* #menu {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  background: #262f40;
  color: #fff4e6;
  cursor: pointer;
  font-size: 2.4rem;
  padding: 1.5rem 2rem;
  z-index: 1000;
  display: none;
} */

.home {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 20rem;
}

.home h3 {
  font-size: 2.5rem;
  color: #fff4e6;
}

.home h1 {
  font-size: 5rem;
  color: #fff4e6;
}

section {
  min-height: 100vh;
  padding: 1rem;
}

.home p {
  font-size: 2rem;
  color: #eee;
  padding: 1rem 0;
}

.cv-btn {
  padding: 0.7rem 3rem;
  color: #f67280;
  background: #fff4e6;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
  font-weight: bolder;
}

.cv-btn:hover {
  background: var(--salmon);
  color: #111;
}

/* media queries for responsive & mobile design */
@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 900px) {
  header {
    left: -120%;
  }

  #menu {
    display: block;
  }
}
