@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;400;600&display=swap");

/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* global variables + pseudo*/
/* add more global variables for colors */
:root {
  --salmon: #ffa595;
  --grey: #435371;
  --pink: #f67280;
  --cream: #fff4e6;
  --deep-blue: #262f40;
}

/* Navbar and home section styling  */
* {
  font-family: "Catamaran", sans-serif;
  /* font-family: "Montserrat"; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  /* text-transform: capitalize; */
  transition: all 0.2s linear;
}

/* pseudo-element for____ */
*::selection {
  background: var(--salmon);
  color: #333;
}

html {
  font-size: 62%;
  overflow-x: hidden;
}

/* scrollbar BUT compatibility issues with IE + FireFox? */
html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #222;
}

html::-webkit-scrollbar-thumb {
  background: var(--salmon);
}

/* site's body  */
body {
  background: var(--deep-blue);
  overflow-x: hidden;
  padding-left: 35rem;
}

/*header */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  /* background: #888; */
  /* background: #262f40; */
  /* background: #ffe9dc; */
  /* background: #ffa595; */

  /* background: #f67280; */
  background: var(--cream);
  /* background: #fff; */
  /* background: rgb(133, 133, 133); */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

/* image - minor padding issue */
header .me img {
  height: 17.5rem;
  width: 17.5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.5rem;
  /* border: 0.6rem solid var(--salmon); */
  padding: none;
}

header .me .name {
  font-size: 3.5rem;
  color: var(--deep-blue);
}

header .me .title {
  font-size: 2rem;
  color: var(--grey);
}

/* Navbar styling + links */
header .navbar {
  width: 100%;
}

header .navbar ul {
  padding: 7rem;
  padding-top: 1rem;
  list-style: none;
}

header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  /* background: #333; */
  /* color: #fff4e6; */
  font-size: 1.7rem;
  border-radius: 10rem;
  transition: 0.6s;

  /* background: #333; */
  /* color: var(--salmon); */
  color: var(--pink);
  /* color: var(--salmon); */
  font-weight: bold;
  /* color: #355c7d; */
}

/* hover effects for buttons/links */
header .navbar ul li a:hover {
  background: var(--salmon);
  /* background: #dae8ec; */
  color: #111;
  font-weight: bolder;
}

/* hamburger menu - issues with the three */
.menu-btn {
  /* position: relative; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 1;

  /* codeStack's menu = doesn't come up */
  /* position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 1; */
}

/* targeting menu-button lines  */
.menu-btn_lines,
.menu-btn_lines::before,
.menu-btn_lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background-color: #eeee;
  transition: all 0.5s ease-in-out;
}

/* targeting before & after  */
.menu-btn_lines::before,
.menu-btn_lines::after {
  content: "";
  position: absolute;
}

.menu-btn_lines::before {
  transform: translateY (-0.5rem);
}

.menu-btn_lines::after {
  transform: translateY (0.5rem);
}

/* #menu {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  background: #262f40;
  color: #fff4e6;
  cursor: pointer;
  font-size: 2.4rem;
  padding: 1.5rem 2rem;
  z-index: 1000;
  display: none;
} */

.home {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 40rem;
}

.home h3 {
  font-size: 2.5rem;
  color: var(--cream);
}

.home h1 {
  font-size: 5rem;
  color: var(--cream);
}

section {
  min-height: 100vh;
  padding: 1rem;
}

.home p {
  font-size: 2rem;
  color: #eee;
  padding: 0.5rem 0;
  font-style: normal;
  font-variant: small-caps;
}

.home span {
  color: var(--pink);
  font-weight: bold;
}

/* cv-button's styling */
.cv-btn {
  padding: 0.7rem 2rem;
  /* color: #f67280; */
  /* background: #fff4e6; */
  background: var(--salmon);
  color: #111;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
  font-weight: bolder;
  text-align: center;
}

.cv-btn:hover {
  background-color: var(--grey);
  color: var(--pink);
}

/* social media links in navbar  */
header .nav-socials ul {
  /* position: absolute; */
  /* top: 80%;
  left: 20%; */
  padding: 0;
  margin: 0;
  transform: translate(-50% -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header .nav-socials ul li {
  display: flex;
  list-style: none;
  margin: 0 17px;
}

header .nav-socials ul li .fab {
  font-size: 25px;
  line-height: 50px;
  transition: 0.5.5s;
  color: var(--deep-blue);
}
header .nav-socials li a {
  transition: all 0.3s ease 0s;
  /* padding: 9px 20px; */
  /* background-color: rgba(36, 37, 42); */
  /* border-style: solid; */
  /* border-color: whitesmoke; */
  /* border-radius: 50%; */
  /* margin: 0 3px; */
  font-size: 10px;
}

header .nav-socials li a:hover {
  /* color: #f67280; */
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* font-weight: 800; */
}

header .nav-socials ul li .fab:hover {
  color: var(--pink);
  font-size: 35px;
  font-weight: 1000;
}

header .copy-rights p {
  position: relative;
  padding-top: 100%;
  font: bold;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

/* headings for each page  */
.page-heading {
  text-align: center;
  margin: 0 6.5rem;
  padding: 1rem;
  border-bottom: 0.3rem solid var(--pink);
  color: var(--cream);
  font-size: 25;

}

.page-heading span {
  color: var(--pink);
  /* font-size: 20; */
}


/* ABOUT PAGE STYLING STARTS */

/* round three bismillah  */

.about {
  width: 100%;
  min-height: 100vh;
  /* background-color: #ddd; */
}

.container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.content-section {
  float: left;
  width: 55%;
  /* background-color: var(--cream); */
  color: var(--cream);
  /* color: var(--deep-blue); */
}

.info {
  float: right;
  width: 40%;
}

.info .skills h1 {
  margin-top: 27px;
  text-transform: uppercase;
  color: var(--salmon);
  font-size: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* alternative styling for left column  */
/* .info .skills li {
  color: var(--pink);
  font-size: 16px;
  padding-left: 6rem;
  list-style: circle;
} */

.info .skills li {
  /* list-style: none; */
  margin-top: 25px;
  color: var(--pink);
  font-size: 18px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* list-style: circle; */
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2;
}

/* styling for right column in about  */
.content-section .history h1 {
  margin-top: 27px;
  text-transform: uppercase;
  color: var(--salmon);
  font-size: 20;
}

.content-section .content h3 {
  color: var(--pink);
  margin-top: 20px;
  font-size: 17px;
}

.content-section .content p {
  font-family: "Catamaran", sans-serif;
  margin-top: 10px;
  font-size: 16px;
  line-height: 2;
  font-weight:400;
}

.content-section .content .projects-btn {
  margin-top: 30px;
  text-align: center;
}

.content-section .content .projects-btn a {
  background-color: var(--salmon);
  padding: 12px 40px;
  text-decoration: none;
  font-weight: bold;
  color: var(--deep-blue);
  font-size: 17px;
  letter-spacing: 1.4;
  border-radius: 4rem;
}

.content-section .content .projects-btn a:hover {
  background-color: var(--grey);
  color: var(--pink);
}

/* media queries for ABOUT PAGE  */
@media screen and (max-width: 768px) {
  .container {
    display: block;
    width: 80%;
    margin: auto;
    padding: 50px;
  }
  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .content-section .history {
    font-size: 18px;
    text-align: center;
  }
  .info {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .content-section .content .projects-btn {
    text-align: center;
    font-size: 10px;
    /* padding: 10px 35px; */
    border-radius: 2rem;
  }
  .content-section .content .projects-btn a {
    padding: 8.5px 30px;
  }
}

/* media q's for navbar and index */
/* issues here: try another style */ /* .about-me .info { padding: 1rem 0; display: flex; align-items: center; justify-content: center; flex-wrap: wrap; } */ /* .about-me .row { padding: 1rem 0; display: flex; align-items: center; justify-content: center; flex-wrap: wrap; } */ /* .about-me .row { padding: 1rem 0; display: flex; align-items: center; justify-content: center; flex-wrap: wrap; width: ; } */ /* ABOUT PAGE STYLING ENDS */ /* PROJECTS PAGE STYLING STARTS */ /* PROJECTS PAGE STYLING ENDS */ /* BLOG PAGE STYLING STARTS */ /* BLOG PAGE STYLING ENDS */ /* CONTACT ME PAGE STYLING STARTS */ /* CONTACT ME PAGE STYLING ENDs */ /* media queries for responsive & mobile design (home + navbar so far) */ /* media queries */ @media (max-width: 1200px) {
  @media (max-width:1200px){
    html{
        font-size: 55%;
    }
    .home{
        padding:1rem 4rem;
    }
}

@media (max-width: 900px) {
  header {
    left: -120%;
  }
  /* hamburger menu will need to go here to toggle when smaller screen is activated  */
  /* #menu {
    display: block;
  } */
}

@media (max-width: 400px) {
  header {
    width: 100vh;
  }
  /* hamburger menu will need to go here to toggle when smaller screen is activated  */
  /* #menu {
    display: block;
  } */
  body {
    padding: 0;
  }
}

@media (max-width: 770px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 400px) {
  header {
    width: 100vw;
  }

  .heading {
    margin: 0 3rem;
  }
}
